$white: #ffffff;
$black: #000;

$green24: #1e5631; // Husk
$green35: #008600; // Guardian green
$green51: #7fb905; // The future is green
$green55: #c5d900; // Agriculture

$gray6: #0f1010;
$gray9: #171919;
$gray16: #272b2b;
$gray19: #303333;
$gray26: #404545; // Main gray from branding 
$gray39: #626464;
$gray49: #757575;
$gray55: #8c8f8f;
$gray74: #bdbdbd;
$gray78: #c6c7c7;
$gray91: #e8e9e9;

$blue26: #000086; // Guardian blue
$blue37: #057fb9; // CTA Blue
$blue46: #1976D2;
$blue85: #b3e5fc;
$blue94: #e1f5fe;

$red26: #860000; // Guardian red
$red48: #f70000; // Error
$red51: #be4e45;

$orange58: #ff7729;

$yellow50: #ffdc00; // Warning

$purple47: #673AB7;
