@import '../../assets/scss/colors';
@import '../../assets/scss/easings';

.actions-panel {
    background: rgba($gray9, 0.6);
    color: $white;
    justify-content: space-between;
    max-width: 400px;
    transform: translateX(-100%);
    transition: transform 0.3s $easeInOutQuad;
    width: 100%;

    &--open {
        transform: translateX(0%);
    }

    &__inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding-top: 72px;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__top {
        overflow: hidden;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        padding: 16px;
    }

    &__header {
        &[class*=MuiAppBar] {
            align-items: center;
            background: none;
            flex-direction: row;
            left: 0;
            max-width: 384px;
            margin: 8px;
            padding: 0px 8px;
            pointer-events: all;
            background: rgba($gray9, 0.9);
            border-radius: 28px;
            width: calc(33% - 16px);
        }
    
        &-logo {
            display: block;
            width: 100%;
            max-width: 40px;
            max-height: 40px;
            fill: white;
        }
    
        &-text-edit {
            flex: 1 1 auto;
            margin-right: 16px;
        }
    
        &-more {
            margin-left: auto;
        }
    }

    &__zone-controls {
        position: absolute;
        top: 0;
        left: 100%;
    }
}

.zone-controls {
    padding: 72px 8px 0 0;

    &__actions {
        padding: 8px;
    }

    &__toggle {
        background: rgba($gray9, 0.6);
        width: 48px;
        height: 40px;
        border-radius: 0 4px 4px 0;

        > *[class*=MuiButtonBase] {
            pointer-events: all;
            background: none;
            padding: 0;
            margin-left: 8px;
            width: 40px;
            height: 40px;
            min-width: 40px;
            display: flex;

            &:hover {
                background: none;
            }

            svg {
                fill: $white;
            }
        }
    }
    
    *[class*=MuiButtonBase]:not(.zone-controls__toggle-button) {
        pointer-events: all;
        background: rgba($white, 0.9);
        transition: background 0.3s $easeInOutQuad;


        &:hover,
        &[class*=Mui-selected] {
            background: rgba($green35, 0.9);

            svg {
                fill: $white;
            }
        }

        svg {
            fill: rgba($black, 0.54);
            transition: background 0.3s $easeInOutQuad;
        }
    }
}

.job-info {
    &__inner {
        padding: 16px;
    }

    &__fly {
        display: flex;
    }

    &__complete {
        p {
            margin: 0;
        }

        &-title {
            font-size: 26px;
        }
    }

    &__percentage {
        font-size: 40px;
        margin-left: auto;
    }
}

.job-actions {
    pointer-events: all;

    .toggle-button {
        display: inline-flex;
        position: relative;
        background: rgba(23, 25, 25, 0.9);
        border-radius: 28px;

        button {
            position: relative;
            z-index: 1;
            color: $white;
        }

        &__selection {
            top: 0;
            left: 0;
            width: 40px;
            height: 100%;
            position: absolute;
            background: $white;
            border-radius: 28px;
            pointer-events: none;
            mix-blend-mode: difference;
            transition: left 0.3s $easeInOutQuart, width 0.3s $easeInOutQuart;
            z-index: 2;
        }
    }
}

.job-validation {
    *[class*=MuiListItemIcon] {
        min-width: 30px;
    }
}
