.header {
    &[class*=MuiAppBar] {
        align-items: center;
        background: none;
        flex-direction: row;
        left: 0;
        max-width: 400px;
        padding: 8px 16px;
        pointer-events: all;
    }

    &__logo {
        display: block;
        width: 100%;
        max-width: 40px;
        max-height: 40px;
        fill: white;
    }

    &__text-edit {
        flex: 1 1 auto;
        margin-right: 16px;
    }

    &__more {
        margin-left: auto;
    }
}
