@import '../../assets/scss/colors';
@import '../../assets/scss/easings';

.zones {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;

    &__inner {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 12px 0;
        text-transform: capitalize;
    }

    &__content {
        overflow: auto;
        padding: 0 8px;
    }

    .list-item-add {
        margin: 0 8px 8px 8px;
        width: calc(100% - 16px);
    }
}

.zone {
    background: rgba($gray9, 0.9);
    border-radius: 4px;
    transition: background 0.15s $easeInOutQuad;

    &--active {
        background: rgba($gray16, 0.9);
    }

    &__header {
        align-items: center;
        display: flex;
        width: 100%;

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-status {
            font-size: 14px;
            padding: 0 0 0 12px;
        }

        &-actions {
            margin-left: auto;
        }
    }

    &__content {
        &-inner {
            margin-bottom: 8px;
        }
    }

    &__accordion[class*=MuiIconButton] {
        max-height: 36px;
    }

    .markers {
        &__header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid $gray91;
            padding: 12px 0;
            text-transform: capitalize;
        }
    }

    .marker,
    .boundary {
        align-items: center;
        display: flex;
        transition: background 0.15s $easeInOutQuad;
        justify-content: space-between;
        width: calc(100% - 16px);
        margin: 0px 8px;

        &:hover {
            background: rgba($white, 0.13);
        }

        &--active,
        &--active:hover {
            background: rgba($white, 0.09);
        }

        &__actions {
            margin-left: auto;
        }

        &__content {
            padding: 16px 8px;
        }
    }
}
