@import '../../assets/scss/colors';

.zone {
    border: 1px solid $gray49;
    border-radius: 5px;
    margin-top: 16px;
    padding: 8px;

    &__header {
        display: flex;
        width: 100%;

        &-delete {
            &[class*=MuiIconButton] {
                margin-left: auto;
            }
        }
    }

    .markers {
        &__header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid $gray91;
            padding: 12px 0;
            text-transform: capitalize;
        }
    }

    .marker,
    .boundary {
        align-items: center;
        display: flex;

        button {
            margin-left: auto;
        }
    }
}
