@import "../../assets/scss/colors";
@import "../../assets/scss/easings";

.map-actions-panel {
    display: flex;
    padding: 12px 0;
    width: 100%;
    align-items: flex-start;

    .geocoder {
        pointer-events: all;
        position: relative;
        width: 48px;
        height: 48px;
        z-index: 1;
        
        &:hover,
        &--focused {
            .geocoder__inner {
                width: 320px;
            }
        }
        
        &__inner {
            transition: width 0.15s $easeInOutQuad;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 48px;
            height: 48px;
        }
        
        &__search {
            width: 100%;
            background: rgba($white, 0.9);
            max-width: 320px;
            position: relative;
    
            &-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: height 0.15s $easeInOutQuad;

                svg {
                    fill: rgba(0, 0, 0, 0.54);
                }
            }
        }    
    }
    
    > * {
        margin-left: 8px;

        &[class*=MuiButton] {
            width: 48px;
            min-width: 48px;
            height: 48px;
            margin-left: 8px;
            padding: 0;
            pointer-events: all;
            background: rgba($white, 0.9);

            svg {
                fill: rgba(0, 0, 0, 0.54);
            }
        }
    }

}
