@import '../../assets/scss/colors';

.info-panel {
    background: rgba($gray9, 0.9);
    color: $white;
    display: flex;
    height: 100%;
    max-width: 400px;
    padding: 0 16px;
    width: 33%;

    &__header {
        &[class*=MuiAppBar] {
            align-items: center;
            background: none;
            flex-direction: row;
            max-width: 400px;
            min-height: 56px;
            padding: 0 16px;
            pointer-events: all;
        }
    }

    &__settings[class*=MuiIconButton] {
        margin-left: auto;
    }

    &__inner {
        margin-top: 56px;
        width: 100%;
    }

    &__aircraft {
        display: flex;
        flex-wrap: wrap;
    }
}
