@import '../../assets/scss/colors';

.list-item-add {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $gray91;
    padding: 8px 0;
    text-transform: capitalize;

    &__label {
        text-transform: capitalize;
    }
}
