@import './assets/scss/colors';

@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"),
        url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "RobotoMedium";
    src: local("RobotoMedium"),
        url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
        url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "RobotoThin";
    src: local("RobotoThin"),
        url("./assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}

* {
    scrollbar-width: auto;
    scrollbar-color: $gray49 $white;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $gray49;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $gray16;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}
