@import '../../assets/scss/colors';

.mapboxgl {
    &-canvas {
        background: $gray55;
    }
    
    &-ctrl {
        &.mapboxgl-map {
            font-family: 'Roboto', sans-serif !important;
        }
    
        &-top-right,
        &-attrib,
        &-logo {
            display: none;
            bottom: 0;
            left: 0;
            visibility: hidden;
            width: 0px;
            height: 0px;
            position: absolute;
        }
    
        &-scale {
            background: transparent;
            border-color: $white;
            color: $white;
            font-weight: bold;
        }
    }
}
